.home-header-root {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.contenthome {
  margin-top: 85px !important;
  z-index: -1;
}
.home_content_root {
  margin-top: 135px !important;
}
.home-header,.home-footer {
  width: 90%;
}
.home-footer-line {
  width: 100% !important;
}
/* Start Custom Shape */
.custom_shape {
  flex-direction: column;
  transform: rotate(-7deg) !important;
  margin-top: -140px;
  width: 350px;
}
.content_round {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
}
.left_line {
  border: 2px solid white;
  width: 150px;
  transform: rotate(-45deg);
  transform-origin: right bottom;
  margin-right: -5px;
}
.right_line {
  border: 2px solid white;
  width: 150px;
  transform: rotate(45deg);
  transform-origin: left bottom;
  margin-left: -5px;
}
.ab_main {
  width: 100%;
  background-color: white;
  margin-top: 60px;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}
.black_line {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-radius: 5px;
  padding: 5px;
}
.black_line div {
  font-size: 35px;
  color: black;
}
.medium_text {
  margin-top: -10px;
  margin-bottom: -10px;
}
.medium_text_1 {
  margin-top: -10px;
  margin-bottom: -10px;
}
.button {
  border-radius: 10px;
  font-size: 25px;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-top: 15px;
}
.btn_enter {
  background: linear-gradient(270deg, rgb(173, 0, 55), rgb(79, 0, 87));
  background-size: 200% 200%;
  border: none;
  color: white;
  transition: 0.3s;
}
.btn_enter:hover {
  animation: pulse 1s infinite;
  transition: 0.3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/* End Custom Shape */
.content_line {
  border: 2px solid #b917e6;
}
.home-footer-line {
  background-color: #b917e6;
  height: 15px;
}
@media screen and (max-width: 1049px) {
  .content_round  {
    height: 22px !important;
  }
  .home-content-text {
    width: 60% !important;
  }
  .home-content-text h2 div,.medium_text_1,.medium_text {
    font-size: 25px !important;
  }
  .custom_shape {
    width: 280px;
  }
  .black_line {
    border: 4px solid black !important;
  }
  .btn_enter {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 991px) {
  .home-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .home-header-hand {
    display: none;
  }
  .home-footer-logo {
    text-align: center !important;
  }
  .home-footer-social {
    justify-content: center !important;
  }
}
@media screen and (max-width: 925px) {
  .home-content-text h2 div {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 750px) {
  .home-content-text {
    width: 100% !important;
    margin-top: 30px;
  }
  .line_area {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 500px) {
  .content_round  {
    height: 18px !important;
  }
  .medium_text_1,.medium_text {
    font-size: 20px !important;
  }
  .home-content-text h2 div {
    font-size: 13px !important;
  }
  .custom_shape {
    width: 230px;
  }
  .black_line {
    border: 3px solid black !important;
    padding-top: 10px;
  }
  .btn_enter {
    font-size: 15px !important;
  }
  .ab_main {
    margin-top: 40px !important;
  }
}
@media screen and (max-width: 450px) {
  .custom_shape {
    margin-top: -110px !important;
  }
}
@media screen and (max-width: 350px) {
  .home-header-social-discord {
    padding: 0 10px 0 10px !important; 
  }
  .custom_shape {
    width: 200px;
  }
  .medium_text_1,.medium_text {
    font-size: 17px !important;
  }
  .btn_enter {
    font-size: 13px !important;
    margin: 0;
    margin-top: 10px !important;
  }
  .black_line div {
    font-size: 0;
  }
}
@media screen and (min-height: 1000px) {
  .home-footer-root {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
  }
}