@font-face {
  font-family: kasseflf_bold;
  src: url(../../assets/font/eurostile_extended_black.ttf);
}
@font-face {
  font-family: EurostileExtended;
  src: url(../../assets/font/EuroStyle_Normal.ttf);
}
.headerTop {
  margin-top: 50px !important;
}
.ourstory ul {
  padding-left: 0;
  width: 105% !important;
}
.mobile {
  display: none;
}
.home_header {
  width: 90% !important;
}
.realheader,
.realfooter {
  max-width: 90% !important;
}
.font-bold {
  font-family: kasseflf_bold !important;
}
.font-origin {
  font-family: EurostileExtended !important;
}
.header_icon {
  display: none !important;
}
.roadimg {
  border-radius: 20px;
  padding: 20px;
  background: rgba(20, 23, 45, 0.25);
  border: solid 2px #0f0;
  box-sizing: border-box;
  border-radius: 5px;
  border-image-slice: 10; /* border-radius*2 */
  border-image-repeat: round;
  border-image-width: 10px; /* border-radius*2 */
  border-image-source: url("https://habrastorage.org/webt/5w/at/j9/5watj9cps1rjx9frtxktrx4lue0.png");
}

.fix-First-list {
  display: none;
  color: #fff;
  margin-top: 80px;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.842);
  z-index: 5;
}

.storytext1:hover,.storytext2:hover,.storytext3:hover {
  transition: 0.5s;
}

.faq-body {
  background-color: #19171a !important;
}

.story_2,
.story_3 {
  margin-top: -290px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  height: 80px !important;
}
.footer {
  bottom: 0;
  z-index: 999999;
  width: 100%;
  background-color: black;
  align-items: center;
}

.root_welcome {
  margin-top: 80px !important;
}
.root_welcome_top {
  margin-top: 130px !important;
}

.date_panel {
  width: 95%;
  border-radius: 30px;
  padding: 20px;
  background: linear-gradient(-45deg, #2f0025, #e73c7e, #b123d5, #2f23d5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.header_menu a {
  text-decoration: none;
}

.mint_calculator {
  transform: rotate(180deg);
}

.mint_btn {
  width: 95%;
  height: 100px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.five_layout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.five_layout img {
  border-radius: 25px;
}
.welldown_main_text1 {
  width: 100%;
  text-align: justify;
  /* For Edge */
  -moz-text-align-last: center;
  /* For Firefox prior 58.0 */
  text-align-last: center;
}

.welldown_main_text {
  width: 100%;
  text-align: justify;
  /* For Edge */
  -moz-text-align-last: center;
  /* For Firefox prior 58.0 */
  text-align-last: left;
}

.faq-row-wrapper {
  background-color: black;
}

.row-title-text,
.icon-wrapper {
  color: #bb2ce2 !important;
}

.row-content-text {
  margin-top: 20px;
  font-size: 17px !important;
  color: white !important;
  font-family: EurostileExtended;
}

.icon-wrapper {
  font-size: 50px !important;
  max-width: none !important;
  max-height: none !important;
  background: #bb2ce2;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: auto !important;
  right: 0 !important;
}

.faq-body section {
  padding: 20px 0 !important;
}

.flip-countdown-title {
  color: white;
}

.card__top {
  background-color: white;
}

.plus_btn,
.minus_btn {
  width: 10%;
  height: 80px;
}

.mint_space {
  width: 5%;
}

.max_area {
  width: 30%;
}

.max_btn {
  background-color: rgba(255, 0, 212, 0.8);
  color: white;
  border-radius: 10px;
  padding: 5px;
  height: 40px;
}

.price_area {
  width: 30%;
}

.cnt {
  width: 15%;
  height: 80px;
}

.cnt input {
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  background: none;
  border: none;
  line-height: inherit;
  color: white;
}

.space_25 {
  display: none;
}

.ourstory_main {
  position: relative;
}

.ourstory_video {
  position: absolute;
  bottom: 0;
}

.count_panel {
  border: 3px solid #b917e6;
  width: 95%;
  border-radius: 25px;
  padding: 5px;
}

.ourstory_line {
  margin-top: 20px;
  width: 110%;
}

.ourstroy_video_real {
  border-radius: 30px;
}

/* Team Section */

.profile-card {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #000;
}

.profile-card img {
  width: 100%;
  height: auto;
  transform: scale(1.1, 1.1) translateX(0);
  transition: all 0.5s ease 0s;
}

.profile-card:hover img {
  transform: scale(1.1, 1.1) translateX(15px);
}

.profile-card .profile-content {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  transform: scale(0.9, 0.9) translateY(100%);
  transition: all 0.4s linear 0s;
}

.profile-card:hover .profile-content {
  transform: scale(0.9, 0.9) translateY(0);
}

.profile-card .profile-content h3 {
  margin: 0 0 10px;
  font-size: 25px;
}

.profile-card .profile-content p {
  margin: 0 0 10px;
  font-size: 15px;
  line-height: 24px;
}

.profile-card .profile-content ul {
  margin: 0 0 15px;
  padding: 0;
}

.profile-card .profile-content ul li {
  display: inline-block;
  list-style: none;
  margin: 0 7px;
}

.profile-card .profile-content ul li a {
  display: block;
  font-size: 20px;
  text-align: center;
  transition: all 0.5s linear 0s;
}

.profile-card .profile-content ul li a:hover {
  text-decoration: none;
  color: #808080;
}

.text4--para {
  color: #d90429;
  text-shadow: 1px 1px 1px #fff;
  transition: text-shadow 300ms ease-out, color 300ms ease-in;
}

.text4--para:hover {
  color: #fff;
  text-shadow: -1px 1px #666666, -2px 2px #666666, -3px 3px #666666, -4px 4px #666666, -5px 5px #666666,
    -6px 6px #666666, -7px 7px #666666, -8px 8px #666666, -9px 9px #666666, -10px 10px #666666, -11px 11px #666666;
}

.text6--para {
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.1);
  transition: color 300ms ease-in, text-shadow 300ms ease-out;
}

.text6--para:hover {
  color: #f72585;
  text-shadow: 2px 2px 2px #000;
}

.both-up {
  display: inline-block;
  position: relative;
  color: white;
}

.both-up:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  visibility: hidden;
  background-color: #f72585;
  -webkit-transition: all 0.1s ease;
  transition: all 0.3s ease;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.both-up:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.storyimgfirst,.storyimg2,.storyimg3 {
  display: none;
}
.showstoryimg1,.showstoryimg2,.showstoryimg3 {
  display: block;
}

/* Seat */
.fixed-panel {
  border: none;
  outline: none;
  box-shadow: 1rem 1rem 2rem #8080802f;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, rgba(255, 23, 243, 0.164) 50%, rgba(255, 30, 244, 0.575));
}

.fixed-panel span:nth-child(1) {
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-image: linear-gradient(to right, rgb(0, 153, 255) 30%, rgb(203, 6, 230) 40%, rgb(57, 176, 255));
  top: 0;
  left: 0;
  animation: line1 3s linear infinite;
}

.fixed_text {
  font-size: 150px;
}

@keyframes line1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.fixed-panel span:nth-child(2) {
  position: absolute;
  height: 100%;
  width: 0.2rem;
  background-image: linear-gradient(to bottom, rgb(0, 153, 255) 30%, rgb(203, 6, 230) 40%, rgb(57, 176, 255));
  top: 0;
  right: 0;
  animation: line2 3s linear 1.5s infinite;
}

@keyframes line2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.fixed-panel span:nth-child(3) {
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background-image: linear-gradient(to right, rgb(0, 153, 255) 30%, rgb(203, 6, 230) 40%, rgb(57, 176, 255));
  bottom: 0;
  left: 0;
  animation: line3 3s linear infinite;
}

@keyframes line3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.fixed-panel span:nth-child(4) {
  position: absolute;
  height: 100%;
  width: 0.2rem;
  background-image: linear-gradient(to bottom, rgb(0, 153, 255) 30%, rgb(203, 6, 230) 40%, rgb(57, 176, 255));
  top: 0;
  left: 0;
  animation: line4 3s linear 1.5s infinite;
}

@keyframes line4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Seat */

/* Mint */

.mint_btn {
  background: linear-gradient(270deg, rgb(173, 0, 55), rgb(79, 0, 87));
  background-size: 200% 200%;
  animation: changeBg 2s ease infinite;
  cursor: pointer;
}
.mint_btn:hover {
  animation: changeBg 0.5s ease infinite;
}

/* NFT Image */

.nft_img {
  display: flex;
  position: relative;
  cursor: pointer;
}

.nft_img::before {
  right: 0;
  opacity: 0.7;
  top: 0;
}
.nft_img::after {
  bottom: 0;
  opacity: 0.7;
  left: 0;
}

.nft_img::before,
.nft_img::after {
  content: "";
  background: #fff;
  height: 0;
  width: 0;
  z-index: 1;
  position: absolute;
  -webkit-transition-duration: 1.3s !important;
  -o-transition-duration: 1.3s;
  transition-duration: 1.3s !important;
}
.nft_img:hover::after,
.nft_img:hover::before {
  height: 100%;
  opacity: 0;
  width: 100%;
}

@keyframes changeBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media screen and (max-width: 2040px) {
  .log_img {
    width: 30% !important;
  }
  .header_menu {
    width: 50% !important;
  }
  .connectwallet {
    width: 10% !important;
  }
  .social_icon {
    width: 10% !important;
  }
}
@media screen and (max-width: 1750px) {
  .log_img {
    width: 25% !important;
  }
  .header_menu {
    width: 50% !important;
  }
  .connectwallet {
    width: 15% !important;
  }
  .social_icon {
    width: 10% !important;
  }
}
@media screen and (max-width: 1590px) {
  .metamaskbell {
    font-size: 20px !important;
  }
  .log_img {
    width: 15% !important;
  }
  .header_menu {
    width: 60% !important;
  }
  .connectwallet {
    width: 15% !important;
  }
  .social_icon {
    width: 10% !important;
  }
}

@media screen and (max-width: 1400px) {
  .log_img {
    display: flex;
    width: 25% !important;
    justify-content: center !important;
  }
  .header_menu {
    width: 50% !important;
  }
  .connectwallet {
    width: 25% !important;
    justify-content: center !important;
  }
  .social_icon {
    display: none !important;
  }
  .header_menu a {
    margin: 0 10px 0 10px !important;
  }
}

@media screen and (max-width: 1375px) {
  .log_img {
    display: flex;
    width: 20% !important;
    justify-content: center !important;
  }
  .header_menu {
    width: 60% !important;
  }
  .connectwallet {
    width: 20% !important;
    justify-content: center !important;
  }
  .header_menu a {
    margin: 0 5px 0 5px !important;
  }
}

@media screen and (max-width: 1240px) {
  .log_img {
    display: flex;
    width: 15% !important;
    justify-content: center !important;
  }
  .header_menu {
    width: 70% !important;
  }
  .connectwallet {
    width: 15% !important;
    justify-content: center !important;
  }
  .header {
    left: 0 !important;
  }
  .header_menu a {
    margin: 0 5px 0 5px !important;
  }
  .image-two {
    margin-top: -150px !important;
  }
}

@media screen and (max-width: 1100px) {
  .text-one {
    order: 1;
  }
  .image-one {
    order: 2;
    margin-top: 20px;
  }
  .image-two {
    order: 4;
    margin-top: 20px !important;
  }
  .image-three {
    margin-top: 30px !important;
    /* display: none !important; */
  }
  .date_panel {
    width: 100%;
  }
  .count_panel {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cnt {
    width: 20%;
  }
  .mint_btn {
    width: 100%;
  }
  .mint_calculator {
    margin-top: 3rem;
  }
  .calculator_area {
    justify-content: center !important;
    display: none !important;
  }
  .mint_main_text {
    display: none !important;
  }
  .ourstory_video {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ourstory_line {
    display: none !important;
  }
  .ourstory_img_area img {
    width: 100%;
  }
  .ourstory_img_area {
    align-items: center !important;
  }
  .ourstroy_video_real {
    width: 100% !important;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .stencil_img_area {
    justify-content: center !important;
  }
  .stencil_img_area img {
    width: 80% !important;
    margin-top: 50px;
  }
}
.mobile {
    display: none !important;
}
@media screen and (max-width: 991px) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  .test {
    display: flex !important;
    flex-direction: column;
  }
  .test a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: auto;
  }
  .max_area,
  .price_area {
    width: 30% !important;
  }
}

@media screen and (max-width: 900px) {
  .log_img {
    justify-content: flex-start !important;
    width: 50% !important;
    left: 0 !important;
  }
  .header_menu,
  .social_icon,
  .connectwallet {
    display: none !important;
  }
  .header_icon {
    padding-top: 7px;
    display: block !important;
    display: flex !important;
    justify-content: flex-end !important;
  }
  .social {
    width: 100%;
    justify-content: center !important;
  }
}
@media screen and (max-width: 650px) {
  .metamaskbell {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 490px) {
  .price_area {
    font-size: 15px !important;
  }
  .totalprice {
    font-size: 25px !important;
  }
  .fixed_text {
    font-size: 100px !important;
  }
  .metamaskbell {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 430px) {
  .price_area {
    font-size: 15px !important;
  }
  .totalprice {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 390px) {
  .price_area {
    font-size: 10px !important;
  }
  .totalprice {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 340px) {
  .date_panel {
    padding: 10px !important;
  }
  .cnt input {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 1100px) {
  .welcome_nft,
  .team_nft {
    margin-top: 50px;
  }
}

.ourstory {
  color: #fff;
  padding: 0px 30px 0px 0px;
}
.ourstory ul {
  list-style-type: none;
}
.ourstory ul li {
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  width: 105%;
}
.ourstory ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  left: -5px;
  top: 28px;
  transition: 0.5s;
}
.ourstory ul li:hover {
  background-color: rgba(255, 255, 255, 0.041);
}
.ourstory ul li:hover:before {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 2px #ffffff;
}

/* Roadmap */

.timeline {
  color: #fff;
  padding: 30px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.timeline ul {
  list-style-type: none;
  border-left: 2px solid #e034c3;
  padding: 10px 5px;
}
.timeline ul li {
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  width: 105%;
}
.timeline ul li span {
  display: inline-block;
  background-color: #e034c3;
  border-radius: 25px;
  padding: 2px 5px;
  font-size: 15px;
  text-align: center;
}
.timeline ul li .content h3 {
  color: #e034c3;
  font-size: 17px;
  padding-top: 5px;
}
.timeline ul li .content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 20px auto;
}
.readmore {
  -webkit-line-clamp: inherit !important;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #e034c3;
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: 0.5s;
}
.timeline ul li:hover {
  background-color: rgba(255, 255, 255, 0.041);
}
.timeline ul li:hover:before {
  background-color: #e034c3;
  box-shadow: 0px 0px 10px 2px #e034c3;
}
@media (max-width: 767px) {
  .footerlogo,
  .footersocial {
    justify-content: center !important;
  }
  .copyright {
    margin: 15px 0 15px 0;
  }
}
@media (max-width: 300px) {
  .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }
  .timeline ul li .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}

.timeline ul:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}
/* Fade out all items when the parent is hovered */

.timeline ul > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}

.connecthover {
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 20px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.connecthover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.connecthover.connect {
  background-image: linear-gradient(to right, #6c007a, #e4038e, #e93636, #770000);
}
.metamaskbell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(80, 0, 0);
  padding: 10px !important;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.btn-scroll {
    background-color: transparent;
    box-shadow: none;
    bottom: 40px;
    right: 0;
    position: fixed;
    border: none;
}

.btn-scroll svg {
    fill: #FFF;
    transition: 0.5s all;
}

.btn-scroll svg:hover {
    transform: scale(1.2, 1.5) translate(0, -15px);
}


