@font-face {
    font-family: kasseflf_bold;
    src: url(../../assets/font/eurostile_extended_black.ttf);
}
@font-face {
    font-family: EurostileExtended;
    src: url(../../assets/font/EuroStyle_Normal.ttf);
}

.PageMintTattoo {
    padding-top: 170px;
    padding-bottom: 270px;
}

#root > div:last-child {
    min-height: 100vh !important;
    position: relative;
    /* padding-bottom: 270px; */
}
.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.MintIntroText1 {
    color: white;
    font-family: kasseflf_bold;
    font-size: 40px;
    font-weight: bold;
    width: 400px;
    line-height: 40px;
    text-align: center;
}

.MintButton {
    background-color: white;
    color: #bb2ce2 !important;
    font-family: kasseflf_bold;
}

.MintLine {
    border: 1px solid #b917e6;
    width: 95% !important;
}

.MintIntroText2 {
    color: white;
    font-family: kasseflf_bold;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    width: 95%;
}
.MintMainSection {
    gap: 30px;
}
.MintIntroImg {
    width: 100%;
}

@media (max-width: 1200px) {
    .MintIntroImg {
        width: 500px;
    }
    .MintIntroText1 {
        font-size: 30px;
    }

    .MintMainSection {
        gap: 20px;
    }

    .MintIntroText2 {
        font-size: 12px;
        line-height: 18px;
    }

    .MintSoonBtn {
        padding: 10px !important;
        line-height: 40px !important;
        height: auto;
    }

    .MintSoonBtnText {
        font-size: 22px;
    }

    .MintCountPanel {
        padding: -0px !important;
        height: 70px !important;
    }

    .MintPricePanel {
        line-height: 25px;
    }
}

@media (max-width: 1200px) {
    .MintIntroImg {
        width: 450px;
    }
}

@media (max-width: 860px) {
    .PageMintTattoo {
        flex-direction: column !important;
        width: 500px !important;
        gap: 40px !important;
    }
}

@media (max-width: 550px) {
    .PageMintTattoo {
        width: 90% !important;
    }

    .MintIntroText1 {
        width: 100%;
    }

    .MintIntroImg {
        width: 100%;
    }
}
