@font-face {
  font-family: kasseflf_bold;
  src: url(../../assets/font/eurostile_extended_black.ttf);
}
@font-face {
  font-family: EurostileExtended;
  src: url(../../assets/font/EuroStyle_Normal.ttf);
}

#root > div:last-child {
  min-height: 100vh !important;
  position: relative;
  /* padding-bottom: 270px; */
}
.footer {
  width: 100%;
  bottom: 0px;
}

.PageMintTattoo {
  padding: 20px;
}

.MintIntroText1 {
  color: white;
  font-family: kasseflf_bold;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin: 160px 0 40px;
}

.MintButton {
  background-color: white;
  color: #bb2ce2 !important;
  font-family: kasseflf_bold;
}

.MintLine {
  border: 1px solid #b917e6;
  width: 95% !important;
}

.MintIntroText2 {
  color: white;
  font-family: kasseflf_bold;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  width: 95%;
  text-align: center;
}
.MintMainSection {
  gap: 30px;
}
.MintIntroImg {
  position: relative;
  height: 540px;
  margin-bottom: 30px;
  overflow: hidden;
}
.MintIntroImg img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .MintIntroImg {
    height: 450px;
  }
  .MintIntroText1 {
    font-size: 30px;
  }

  .MintMainSection {
    gap: 20px;
  }

  .MintIntroText2 {
    font-size: 12px;
    line-height: 18px;
  }

  .MintSoonBtn {
    padding: 10px !important;
    line-height: 40px !important;
    height: auto;
  }

  .MintSoonBtnText {
    font-size: 22px;
  }

  .MintCountPanel {
    justify-content: space-between;
    padding: -0px !important;
    height: 70px !important;
  }

  .MintPricePanel {
    line-height: 25px;
  }
}
@media (max-width: 1130px) {
  .price-label {
    font-size: 18px;
  }
  .total-price {
    font-size: 24px;
  }
}

@media (max-width: 860px) {
  .PageMintTattoo {
    flex-direction: column !important;
    grid-gap: 40px !important;
    gap: 40px !important;
    max-width: 624px;
    margin: auto;
    margin-bottom: 30px;
  }
  .minttatoos-container {
    display: block !important;
  }
  .MintIntroImg {
    overflow: visible;
    height: auto;
  }
  .MintIntroImg img {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: initial;
  }
}

.ConnectModal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  position: absolute;
  width: 750px;
  border-radius: 20px;
  padding: 30px 20px;
  font-family: "Marcellus SC";
  font-weight: 900;
  border: 1px solid white;
}

.ModalLogo {
  width: 320px;
}

.ConnectModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.ModalHeaderText {
  font-size: 30px;
}

.ConnectModalMain {
  row-gap: 40px;
}

.ModalCloseBtn {
  color: #f701e3;
  cursor: pointer;
}

.ModalTitle {
  color: deeppink;
  font-size: 60px;
}

.ModalText {
  color: #ffffff;
  font-size: 26px;
  text-align: center;
}

.ModalHeader {
  width: 100%;
}

@media (max-width: 551px) {
  .MintIntroText1 {
    width: 100%;
  }
  .MintIntroImg {
    width: 100%;
  }
  .PageMintTattoo {
    max-width: 536px;
    padding: 0;
  }
}

@media (max-width: 800px) {
  .ConnectModal {
    width: 550px;
  }
  .ModalLogo {
    width: 220px;
  }
}

@media (max-width: 620px) {
  .ConnectModal {
    width: 480px;
  }
  .ModalLogo {
    width: 220px;
  }
}

@media (max-width: 520px) {
  .ConnectModal {
    width: 90%;
  }
  .ModalTitle {
    font-size: 35px;
  }
  .ModalText {
    font-size: 17px;
  }
}

@media (max-width: 368px) {
  .ModalLogo {
    width: 160px;
  }
  .ModalTitle {
    font-size: 35px;
  }
  .ModalText {
    font-size: 15px;
  }
  .plus_btn span,
  .minus_btn span {
    font-size: 16px;
  }
}
